<div class="container">
  <div rtl>
    <h1 class="main-heading">{{ 'stms.patients.title' | translate }}</h1>
    <div class="actions">
      <a mat-raised-button (click)="getPatients()" class="actions-main" color="primary">
        {{ 'stms.patients.get-patients' | translate }}
      </a>
      <mat-progress-spinner
          *ngIf="isLoading$ | async"
          [mode]="mode"
          [value]="value"
          [diameter]="30"
          [strokeWidth]="3">
      </mat-progress-spinner>
      <st-patients-list *ngIf="(patients$ | async).length" [patients]="(patients$ | async)"></st-patients-list>
    </div>
  </div>
</div>
