:host {
    mat-form-field {
        display: block;
        width: 20%;
    }

    table {
        width: 100%;
        .mat-column-Favs {
            width: 5%;
            min-width: 50px;
        }

        .mat-form-field {
            font-size: 14px;
            width: 100%;
          }
          
          td, th {
            width: 25%;
          }

          [favorite-item] {
                width: 24px;
                height: 24px;
                display: block;
                transform: translate(50%, 30%);
                cursor: pointer;
                background-color: #006064;
                mask-image: url(../../../../assets/favorite_border.svg);
          }

          [favorite-item]:hover, [favorite-item].active {
                background-color: #006064;
                mask-image: url(../../../../assets/favorite_fill.svg);
        }
      }
      
      

    td.mat-cell, th.mat-header-cell {
        padding: 5px;
        text-align: center;
        border: 1px solid #eee;
    }
    
    td div{
        white-space: pre-line;
        font-family: monospace;
        font-size: .9em;
        text-align: left;
        padding: 5px;
    }
    
    td.mat-cell:first-of-type, th.mat-header-cell:first-of-type {
        padding-left: 0;
    }
}

